<h1>Listing people</h1>
 
<table>
  <tr>
    <th>number</th>
    <th>long</th>
    <th>lat</th>
  </tr>
 
  <% @persons.each do |person| %>
    <tr>
      <td><%= person.number %></td>
      <td><%= person.long %></td>
      <td><%= person.lat %></td>
    </tr>
  <% end %>
</table>
